@using BouncyCastles.WebUI.Models

@model BouncyCastlesModels


@{
    ViewBag.Title = "Home Page";
}

@if (ViewBag.Message != null)
{
    <h2>@ViewBag.Message</h2>
}

@using (Html.BeginForm())
{
    <div>@Html.ValidationSummary()</div>

    <div>
        @Html.LabelFor(m => m.Clients.Name)
        @Html.EditorFor(m => m.Clients.Name)
    </div>


    <div>
        <div>

        </div>
        <div>

            @Html.LabelFor(m => m.Clients.Surname)
            @Html.EditorFor(m => m.Clients.Surname)
        </div>
        <div>

            @Html.LabelFor(m => m.Clients.PhoneNumber)
            @Html.EditorFor(m => m.Clients.PhoneNumber)

        </div>
        <div>
            @Html.LabelFor(m => m.Orders.AdrStreet)
            @Html.EditorFor(m => m.Orders.AdrStreet)
        </div>
        <div>
            @Html.LabelFor(m => m.Orders.AdrCity)
            @Html.EditorFor(m => m.Orders.AdrCity)
        </div>
        <div>
            @Html.LabelFor(m => m.Orders.AdrZipCode)
            @Html.EditorFor(m => m.Orders.AdrZipCode)
        </div>
        <div>
            @Html.LabelFor(m => m.Orders.AdrRegion)
            @Html.EditorFor(m => m.Orders.AdrRegion)

        </div>
        <div>
            @Html.LabelFor(m => m.Orders.StartDay)
            @Html.EditorFor(m => m.Orders.StartDay)
        </div>
        <div>
            @Html.LabelFor(m => m.Orders.EndDay)
            @Html.EditorFor(m => m.Orders.EndDay)
        </div>
    </div>


    var first = true;

    foreach (var p in Model.Castles)
    {
        <div>
            <span>
                @if (first)
                {
                    <input type="radio" name="CastleID" value="@p.CastlesID" checked> @p.Type
                    first = false;
                }
                else
                {
                    <input type="radio" name="CastleID" value="@p.CastlesID"> @p.Type
                }
            </span>
            <span>
                @p.MaxCapacity
            </span>
            <span>
                @p.PriceForDay
            </span>
            <span>
                @p.NumStock
            </span>
        </div>

    }
    <input type="submit" value="Make the Order" />

}

@section scripts{
    <script>
        $(document).ready(function () {
            var $datepicker = $('#Orders_StartDay, #Orders_EndDay');
            var today = new Date();
            today.toISOString().substring(0, 10);
            $datepicker.val(today.toISOString().substring(0, 10));
        })
    </script>
}
